html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  margin: 2rem auto;
  width: 70%;
}
.wishlist {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  gap: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
h1 {
  font-size: 1.8rem;
  text-align: center;
  color: #228b22;
}

.wishlist-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}

.add-item-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  margin: 2rem 0;
}

#new-item-input:focus {
  outline: #4caf50;
}

input {
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.msg {
  color: brown;
  font-size: 1rem;
  text-align: center;
  text-transform: lowercase;
}

.remove-item {
  font-size: 0.75rem;
  background-color: #ff6161;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d60000;
  }
}

#add-item-btn {
  font-size: 0.9rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }
}

@media (max-width: 600px) {
  /* Add your styles for smaller screens here */

  .wishlist {
    /* Example: adjust font size for better readability on small screens */
    grid-template-columns: 1fr;
  }
}
